# Seguretat: no executar PHP en la carpeta d'uploads
<FilesMatch "\.php$">                                                                                                                       
    Require all denied                                                                                                                        
</FilesMatch>                                                                                                                               
Options -Indexes